<header class="header">
	<div class="container header__container">
    <a href="./" class="logo">
      <img src="./img/logo.svg" alt="logo" width="93" height="68">
    </a>
    <div class="header__nav">
      <nav class="nav">
        <ul>
          <li><a href="#">Преимущества</a></li>
          <li><a href="#">Турниры</a></li>
          <li><a href="#">Акции и бонусы</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Отзывы</a></li>
        </ul>  
      </nav>
      <div class="header__widget">
        <ul class="social-list">
          <li class="social-list__items">
            <a href="#" class="social-list__link inst-link" target="_blank" rel="nofollow"></a>
          </li>
          <li class="social-list__items">
            <a href="#" class="social-list__link telegram-link" target="_blank" rel="nofollow"></a>
          </li>
        </ul>
        <a href="#" class="btn header__btn">Написать нам</a>
      </div>
    </div>
    <div class="burger">
      <div class="burger__holder">
        <i class="line"></i>
      </div>
    </div>
	</div>
</header>