<header class="header">
	<div class="container header__container" id="js-headerContainer">
    <a href="./" class="logo">
      <img src="./img/logo.svg" alt="logo" width="93" height="68">
    </a>
    <div class="header__nav" id="js-mobMenu">
      <nav class="nav">
        <ul>
          <li><a href="#profit">Преимущества</a></li>
          <li><a href="#tourney">Турниры</a></li>
          <li><a href="#bonuses">Акции и бонусы</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#reviews">Отзывы</a></li>
        </ul>  
      </nav>
      <div class="header__widget" id="js-headerWidget">
        <ul class="social-list">
          <li class="social-list__items">
            <a href="#" class="social-list__link inst-link" target="_blank" rel="nofollow"></a>
          </li>
          <li class="social-list__items">
            <a href="#" class="social-list__link telegram-link" target="_blank" rel="nofollow"></a>
          </li>
        </ul>
        <a href="#" class="btn header__btn js-modal-open" data-target='modal-1' id="js-btnCallToAct">Написать нам</a>
      </div>
    </div>
    <div class="burger" id="js-burgerBtn">
      <div class="burger__holder">
        <i class="line"></i>
      </div>
    </div>
	</div>
</header>