// =====Basic colors=====
$white: #fff;
$black: #000;
$gray: #ccc;

// Custom colors...
$text: #686868;
$hover-color: #ac782a;
$background: #19191b;

// =====Typography base=====
$main-font: 'El Messiri', Roboto, sans-serif;
$sec-font: 'Roboto', sans-serif;
$font-weight: 400;
$font-size: 18px;
$line-height: 1.5;
$txt-color: $white;

// =====Typography buttons=====
$btn-ff: $main-font;
$btn-fz: 20px;
$btn-lh: 30px;
$btn-fw: 500;
$btn-color: $txt-color;
$btn-bgc: linear-gradient(90deg, #563B2A 0%, #AC782A 100%);
$btn-radius: 5px;
