.footer {
  background-color: #0e0e0f;
  padding: 38px 0 45px;

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
  }

  &__widget {
    display: flex;
    align-items: center;
  }

  &__bottom {
    font-family: $sec-font;
    font-size: 16px;
    line-height: 20px;
    color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-family: $sec-font;
      font-size: 16px;
      line-height: 20px;
      color: #a1a1a1;
      text-decoration: none;
      transition: 0.2s ease;
      
      &:hover {
        @media only screen and (min-width: 1025px) {
          color: #fff;
        }
      }
    }

    p {
      margin: 0;
    }
  }
}

// Develop
.develop {
  background-color: #000;
  color: #fff;
  padding: 6px;
  position: relative;
  text-align: center;
  font-size: 14px;
  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
    &:after {
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      transition: 0.3s ease;
      transform: scale(0);
    }
  }
}