// Header start
.header {
  background-color: $background;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @media only screen and (max-width: 1366px) {
    padding: 10px 0;
  }


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 1023px) {
      position: fixed;
      top: 74px;
      left: 0;
      height: calc(100vh - 74px);
      background-color: transparent;
      border-top: 1px solid #242424;
      flex-direction: column;
      padding: 24px 8px 46px;
      overflow: auto;
      transform: translateX(-105%);
      transition: background-color 0.5s, transform 0.5s ease;
    }

    &._is-open {
      background-color: $background;
      transform: translateX(0);

      .nav {

        ul {

          li {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__widget {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1023px) {
      flex-direction: column-reverse;
    }
  }

  &__btn {
    max-width: 160px;
    width: 100%;
    padding: 7px 14px;
    z-index: 30;

    @media only screen and (max-width: 1023px) {
      // margin: 0;
      margin-right: 64px;
    }

    @media only screen and (max-width: 374px) {
      max-width: 132px;
      font-size: 16px;
      line-height: 26px;
      padding: 6px 12px;
      margin-right: 52px;
    }
  }
}

// Social list start
.social-list {
  list-style: none;
  display: flex;
  margin-right: 36px;

  @media only screen and (max-width: 1200px) {
    margin-right: 24px;
  }

  @media only screen and (max-width: 1023px) {
    margin: 0;
  }

  &__items {
    margin-right: 8px;

    @media only screen and (max-width: 1023px) {
      margin-right: 20px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    background-color: $hover-color;
    border: 1px solid $hover-color;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    position: relative;

    &:hover {
      @media only screen and (min-width: 1025px) {
        &:after {
          transform: translate(-50%, -230%);
        }
        &:before {
          opacity: 0.7;
          transform: translate(-50%, -50%);
        } 
      }
    }

    @media only screen and (max-width: 1023px) {
      height: 38px;
      width: 38px;
    }

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 16px;
      width: 16px;
      transition: 0.2s ease;
      opacity: 1;
    }

    &:before {
      transform: translate(-50%, 120%);

      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }

    &.inst-link {
      &:after {
        background: url(../img/icon-inst.svg) center / cover no-repeat;
      }

      &:before {
        background: url(../img/icon-inst.svg) center / cover no-repeat;
      }

    }
    &.telegram-link {
      &:after {
        width: 14px;
        height: 12px;
        background: url(../img/icon-telegram.svg) center / cover no-repeat;
      }

      &:before {
        width: 14px;
        height: 12px;
        background: url(../img/icon-telegram.svg) center / cover no-repeat;
      } 
    }
  }
}

// Logo start
.logo {
  display: flex;

  @media only screen and (max-width: 1023px) {
    height: 54px;
  }
}

// Nav block start
.nav {
  margin: 0 auto;

  @media only screen and (max-width: 1023px) {
    width: 100%;
    margin-bottom: 28px;
  }

  ul {
    list-style: none;
    display: flex;

    @media only screen and (max-width: 1023px) {
      flex-direction: column;
      width: 100%;
    }

    li {
      margin-right: 48px;

      @media only screen and (max-width: 1200px) {
        margin-right: 24px;
      }

      @media only screen and (max-width: 1023px) {
        margin: 0;
        width: 100%;
        text-align: center;
        transform: translateX(-100%);
      }

      &:first-child {
        transition-duration: 0.3s;
      }

      &:nth-child(2) {
        transition-duration: 0.5s;
      }

      &:nth-child(3) {
        transition-duration: 0.7s;
      }

      &:nth-child(4) {
        transition-duration: 0.9s;
      }

      &:last-child {
        margin-right: 0;
        transition-duration: 1.1s;
      }

      a {
        font-family: $main-font;
        font-size: 16px;
        line-height: 30px;
        color: $white;
        display: inline-block;
        position: relative;
        transition: 0.2s linear;
        text-decoration: none;
        padding: 4px 8px;

        @media only screen and (max-width: 1023px) {
          font-size: 20px;  
        }

        &:hover {
          @media only screen and (min-width: 1025px) {
            color: $hover-color;

            &:after {
              width: calc(100% - 16px);
            }    
          }
        }

        @media only screen and (max-width: 1023px) {
          display: block;
          width: 100%;
          padding: 8px;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 6px;
          left: 8px;
          width: 0%;
          transform-origin: left;
          transition: 0.2s linear;
          height: 1px;
          background-color: $hover-color;
        }
      }
    }
  }
}

// Burger
.burger {
  height: 34px;
  width: 34px;
  display: none;

  @media only screen and (max-width: 1023px) {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &._is-active {
    .line {
      background-color: transparent;

      &:after,
      &:before {
        bottom: 0;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

.line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $hover-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,- 50%);
  transition: 0.2s ease;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $hover-color;
    transition: 0.2s ease;
    transform: rotate(0);
    transform-origin: center;
  }

  &:after {
    bottom: -8px;
  }

  &:before {
    bottom: 8px;
  }
}