// Subtitle h2
.subtitle-h2 {
  margin-bottom: 60px;
}
// ----- Hero block start -----
.hero {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0 115px;
  min-height: calc(100vh - 102px);
  height: auto;

  &__container {}

  &__holder {
    text-align: left;
    font-family: $sec-font;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
  }

  &__label {
    margin-bottom: 30px;
  }

  &__descr {
    margin-bottom: 48px;
  }

  &__title {
    text-align: left;
    font-size: 50px;
    line-height: 64px;
    font-weight: 500;
    margin-bottom: 14px;
    max-width: 660px;
  }

  &__illustr {
    position: absolute;
    top: 0;
    right: 10%;

    @media only screen and (max-width: 1366px) {
      right: 0;
    }
  }

  &__cards {
    height: 550px;
    width: 550px;
    position: absolute;
    top: 32px;
    right: 23px;
  }

  &__poker-chips-1,
  &__poker-chips-2,
  &__poker-chips-3 {
    position: absolute;
  }

  &__poker-chips-1 {
    top: 0;
    left: 0;
  }
  &__poker-chips-2 {
    bottom: 0;
    right: 0;
  }
  &__poker-chips-3 {
    top: 0;
    right: 0;
  }

  &__btn {
    max-width: 260px;
    width: 100%;
    z-index: 0;
  }
}

// Hero list start
.hero-list {
  list-style: none;
  display: flex;
  margin-bottom: 50px;

  &__items {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    max-width: 256px;
    margin-right: 20px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    height: 60px;
    width: 60px;
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
}

// ----- Player profit start -----
.player-profit {
  padding: 50px 0 120px;
}
// Profit-list start
.profit-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -18px;


  &__items {
    list-style: none;
    background-image: url(../img/profit-bg.png);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    padding: 30px;
    text-align: left;
    background-color: rgba(36, 36, 36, 0.5);
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    flex: 1 1 33.3333%;
    margin: 0 18px 36px;
    box-shadow: 0 0 0 rgba(0,0,0,.0);
    transition: 0.3s ease;
    position: relative;

    &:hover {
      @media only screen and (min-width: 1025px) {
        box-shadow: 8px 8px 8px rgba(0,0,0,.3);
        
        .profit-list__icon {
          transform: rotate(360deg);
        }
      }
    }

    &:last-child {
      &:after {
        content: '';
        display: inline-block;
        background-image: url(../img/profit-cube.png);
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 100px;
        height: 100px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 25px;
      line-height: 32px;
      text-align: left;
      margin-bottom: 16px;
    }

    p {
      font-family: $sec-font;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    flex: 0 0 70px;
    border-radius: 50%;
    background-color: #171717;
    margin-bottom: 20px;
    transform: rotate(0);
    transition: 0.2s ease;
  }
}

.profit-cube {
  position: absolute;
  bottom: 0;
  right: 0;  
}

// ----- Application block start -----
.app-block {
  padding-bottom: 146px;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/hero-bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0e0e0f;
    box-shadow: 0 0 50px #0d0d0e;
    border-radius: 10px;
    padding: 86px;
    position: relative;
  }

  &__col {}

  &__descr {
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
    max-width: 390px;

    h2 {
      text-align: left;
      margin-bottom: 14px;
    }

    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  .chips-01 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// App list start
.app-list {
  list-style: none;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  width: 100%;

  &__items {
    margin: 10px;
    max-width: 210px;
    flex: 1 1 50%;
  }

  &__link {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 12px 20px;
    height: 70px;
    background-color: #242424;

    &:hover {
      @media only screen and (min-width: 1025px) {
        &:after {
          width: 100%;     
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0%;
      transition: 0.3s ease-in-out;
      background-color: #ab864e;
    }
  }

  &__label {
    display: flex;
    position: relative;
    z-index: 30;
  }
}

// Smartphone block start
.smartphone {
  position: absolute;
  top: -45px;
  right: 6%;

}

.tilt-wrapper {
  position: relative;
  transform-style: preserve-3d;
}

.tilt-inner {
  position: absolute;
  top: 30%;
  left: 14%;
  transform: translateZ(30px);
}

// ----- Video-block start-----
.video-block {
  position: relative;
  padding-bottom: 120px;

  &:after,
  &:before {
    content: '';
    display: block;
    width: 600px;
    height: 520px;
    position: absolute;
    top: 0;
    background-image: url(../img/profit-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  &:after {
    left: 0;
    background-position: left;
  }

  &:before {
    right: 0;
    background-position: right;
  }
}

.video-frame {
  max-width: 960px;
  width: 100%;
  height: 420px;
  position: relative;
  z-index: 30;
  border-radius: 10px;
  margin: 0 auto;

  &__holder {
    border-radius: 10px;
    overflow: hidden;
  }
}

.video-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  &._is-play {
    z-index: 30;
  }
}

.video-play {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  background: linear-gradient(90deg, #563b2a 0%, #ac782a 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;

  &:hover {
    @media only screen and (min-width: 1025px) {
      background: linear-gradient(90deg, #ac782a 0%, #563b2a 100%);
      &:after {
        transform: scale(0.9);
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 24px;
    left: 32px;
    border: 10px solid transparent; 
    border-left: 10px solid #fff;
    transform: scale(1.2);
    transform-origin: center;
    transition: 0.2s linear;
  }
}

.card-video {
  position: absolute;
  bottom: -20%;
  right: -10%;
}

.chips-02 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

// ----- Our tournaments block -----
.our-tournaments {

}

.tournaments-table {
  // overflow: scroll;
  position: relative;

  .decor-elem-1,
  .decor-elem-2,
  .decor-elem-3 {
    position: absolute;
  }

  .decor-elem-1 {
    top: 0;
    right: -6%;
  }

  .decor-elem-2 {
    top: 25%;
    left: -10%;
  }

  .decor-elem-3 {
    bottom: -10%;
    right: -5%;
    z-index: 30;
  }
}

table {
  max-width: 100%;
  width: 100%;
  text-align: left;
  position: relative;

  thead {

    tr {
      height: 54px;

      th {
        padding: 8px 24px;
      }
    }
  }

  tbody {

    tr {
      background-color: #242424;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: 0.2s ease;
      border-bottom: 10px solid $background;

      &:hover {
        @media only screen and (min-width: 1025px) {
          background-color: $hover-color;
        }
      }

      td {
        padding: 12px 24px 8px 24px;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}


// ----- Bonuses block -----
.bonuses-block {
  padding: 60px 0;
}

.bonuses-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;

  &__items {
    background-image: url(../img/profit-bg.png);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    background-color: rgba(36, 36, 36, .06);
    padding: 40px;
    color: #fff;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    box-shadow: 0 0 35px #151413;
    border-radius: 5px;
    flex: 1 1 33.3333%;
    max-width: 360px;
    min-height: 276px;
    margin: 0 10px;
    position: relative;

    picture {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__caption {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: left;
  }

}

// ----- Exchequer block start-----
.exchequer-block {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 60px 0;
}

.exchequer-app {
  max-width: 100%;
  justify-content: center;
  margin-bottom: 40px;

  &__items {
    max-width: 260px;
    width: 100%;
    margin: 0 10px;
  }

  &__link {
    height: 100px;
    align-items: center;
    justify-content: center;
  }
}

// ----- Block FAQ -----
.faq-block {
  padding: 60px 0;
  position: relative;
}

.faq-card {
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 0;
}

.chips-03 {
  position: absolute;
  bottom: -10%;
  right: 20%;
}

// ----- Block reviews -----
.reviews-block {
  padding: 60px 0;
}

.reviews-container {
  position: relative;
}

.reviews-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  z-index: 300;
  height: 24px;

  .slick-arrow {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url(../img/icon-navigation.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 20px;
    color: transparent;
    transition: 0.2s ease;
    opacity: 1;

    &:hover {
      @media only screen and (min-width: 1025px) {
        opacity: 0.8;
      }
    }
  }

  .slick-prev {
    left: -4%;
  }

  .slick-next {
    right: -4%;
    transform: rotate(180deg);
  }
}

.reviews-list {
  list-style: none;

  &__items {}

  &__holder {
    background: #242424;
    border-radius: 5px 5px 0 0;
    padding: 40px 30px 60px 30px;
    min-height: 256px;
    max-width: 360px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  &__author {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #563B2A 0%, #AC782A 100%);
    padding: 12px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}

// ----- Block request -----
.request-block {
  padding: 60px 0;
  &__wrapper {
    background-color: #0e0e0f;
    background-image: url(../img/request-bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    display: flex;
    position: relative;
    min-height: 380px;
  }

  &__descr {
    max-width: 400px;
    margin-right: auto;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
  }

  &__caption {
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
  }
}

.request-decor {
  position: absolute;

  &--01 {
    top: 0;
    left: 0;
  }

  &--02 {
    bottom: 0;
    left: 30px;
  }

  &--03 {
    top: 0;
    right: 42%;
  }

  &--04 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0)
  }
}